<h1>Login</h1>

<form method="POST" action="/login"><br>
<label><strong>Username:</strong></label><br>
<input type="text" name="username" placeholder="username"><br>
<br>
<label><strong>Password:</strong></label><br>
<input type="password" name="password" placeholder="password"><br>

<br>
<br>
<input type="submit" value="Login">
</form>