<h1>Add New Player</h1>

<form method="POST" action="/players"><br>
<label><strong>Player Name:</strong></label><br>
<input type="text" name="player[player_name]" placeholder="Player's Name"><br>
<br>
<label><strong>Number:</strong></label><br>
<input type="integer" name="player[number]" placeholder="Preferred Number"><br>
<br>
<label><strong>Position:</stromg></label><br>
<input type="text" name="player[position]" placeholder="Natural Position">
<br>
<br>
<input type="submit" value="submit">
</form>